<div class="row">
  <div class="col-md-3">
    <app-product-category [category]="categoryName"></app-product-category>
  </div>
  <div class="col-md-9">
    <div class="row">
        <ng-container *ngFor="let product of filteredProducts; let i = index">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img [ngStyle]="{'height': '200px', 'width': '100%'}" [src]="product.payload.val().imageUrl" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ product.payload.val().title }}</h5>
                <p class="card-text">{{ product.payload.val().price | currency:'USD':true }}</p>
                <div class="card-footer">
                  <button (click)="addToCart(product)" class="btn btn-primary btn-block">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="(i+1) % 2 === 0" class="w-100"></div>
        </ng-container>
      </div>
    </div>
</div>
