<div class="sticky-top">
    <div class="list-group">
        <a class="list-group-item list-group-item-action"
            [class.active]="!categoryName" routerLink="/">
            All Categories</a>
        <a *ngFor="let category of categories" routerLink="/"
            [queryParams]="{category: category.key}"
            class="list-group-item list-group-item-action"
            [class.active]="categoryName === category.key">
            {{ category.payload.val().name }}</a>
    </div>
</div>
