<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
    <input #query (keyup)="filter(query.value)" type="text"
            class="form-control" placeholder="Searching....">
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
            <td>{{ product.payload.val().title }}</td>
            <td>
                <img [ngStyle]="{'width': '50px', 'height': '50px'}" [src]="product.payload.val().imageUrl">
            </td>
            <td>{{ product.payload.val().price }} USD</td>
            <td>
                <a [routerLink]="['/admin/products/', product.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>